
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100%;
    text-decoration: none;
    color: inherit;
}

html{
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background: linear-gradient(90deg, rgba(199,137,241,1) 0%, rgba(255,190,248,1) 50%, rgba(252,240,183,1) 68%); */
    max-width:100%;
    
}
 
body {
    background-image: url(../Imagenes/loto.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
    background-attachment: fixed;
    position: relative;
    backdrop-filter: blur(2px);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header, .contenedorprincipal, footer {
    /* Agrega un fondo blanco detrás del texto para mejorar la legibilidad */
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco semitransparente */
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Color blanco semitransparente */
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo-titulo{
    display: flex;
    align-items: center;
}

.logoimg{
    max-width: 100px;
}

.navigation{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    /* background-color: rgb(196, 149, 196);  */
    justify-content: flex-end; 
    margin-left: 0; 
    width: auto;  
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.navigation a{
    display: block;
    padding: 1em;
    color: #c5a742;
    text-shadow:1px 1px 1px rgb(5, 5, 5);

}
.navigation a:hover{
    background: #c5a742;;
    color: #ebdfdf;
}

h1 {
    text-shadow:1px 1px 1px rgb(51, 25, 25);
    color:#c5a742;
}

h2{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 1.5rem;
    text-shadow:1px 1px 1px white;
    font-family: "Amaranth", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #2d3103;
    text-align: center;
    
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    color:#2d3103;
    text-shadow:1px 1px 1px white;
    font-family: "Amaranth", sans-serif;
    font-weight: 700;
    font-style: italic;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #c5a742;
    text-shadow:1px 1px 1px black;
}

.contenedorprincipal {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    padding: 1%;
    flex-grow: 1;
    padding: 1rem;
}

.menu {
    display: block; 
    justify-content: center; /* Centrar los elementos horizontalmente */
    width: auto; /* Ajustar el ancho según el contenido */
}


/*.imagenbody{
    width: 400px;
    height: 100%;
}*/


footer {
    text-align: center;
    padding: 1rem;
    font-size: 1.5vw;
    color: #2d3103;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    width: 100%; 
}

.grupoIconos {
    display: inline-block;
    flex-grow: 1;
}

.grupoIconos img {
    width: 40px;
    margin: 10px;  
}

.contenedor {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* Aca empieza la pagina Contacto */
input{
    width: 50%;
    height: 25px;
    padding: 15px;
    margin-bottom: 10px;
}
input, textarea {
    width: 50%;
    height: 90000%;
    padding: 5px;
    margin-bottom: 2%;
    border: 1px ;
    box-sizing: border-box;
}

.genero {
    display:flex;
    align-items: center; /* Alinea los elementos verticalmente */
    font-size: small;
    margin: 5px;
    
}

/* Ajuste para los botones de radio */
.genero input[type="radio"] {
    transform: scale(0.5); /* Ajusta el tamaño del círculo */
    margin: 1px;
}

/* Ajuste de margen entre el texto y los botones de radio */
.genero label {
    margin-right: 1px; /* Espacio a la derecha del texto */
}

/* Estilo para todos los campos de entrada (input, textarea, select) */
input, textarea, select {
    width: 100%; /* Asegura que los campos ocupen todo el ancho del contenedor */
    height: 40px; /* Ajusta la altura */
    padding: 8px; /* Espacio interno */
    margin-bottom: 10px; /* Espacio inferior entre campos */
    border: 1px solid #ccc; /* Borde */
    border-radius: 4px; /* bordes redondeados */
    box-sizing: border-box; /* Incluye padding y border en width */
    resize: none;
}


/* Estilo para las etiquetas */
label {
    display: block;
    padding: auto;
    justify-content: center;
    margin-bottom: 5px; /* Espacio inferior entre la etiqueta y su campo de entrada */
}
/* Estilo para centrar el contenedor del formulario */
.form-container {
    width: 500px; /* Ajusta el ancho del contenedor */
    margin: auto; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Espacio interno alrededor del formulario */
    border-radius: 10px; 
    background-color: rgba(255, 255, 255, 0.5); /* Color blanco semitransparente */
}
.elementor-button, elementor-size-5m {
    width: 100%;
    background-color:rgb(83, 204, 119);
    border: none;
    padding: 5%;
    
}
.street {
    text-align: center;
    margin-bottom: 100px;
}


@media all and (max-width:800px){
    .navigation{
        justify-content: space-around;
    }
}
@media all and (max-width: 400px) {
    .form-container {
        width: 90%; /* Cambia el ancho del contenedor del formulario para que se ajuste al ancho del dispositivo */
    }
}


/*Aca comienza la pagina Cursos*/
.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.zoom:hover img {
    transform: scale(1.3);
}
.zoom img {
    transition: transform 0.5s ease-in-out;
}

@media (min-width: 480px) {
    .tres-columnas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}

.btn-cac{
    flex-flow: row wrap;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    color:#c5a742;
    cursor: pointer;
    box-shadow: 0 -2px 5px rgba(96, 2, 94, 0.844);
}

/* Pseudoclases */
.btn-cac:hover{
    color: var(--secondary-color);
    border: 4px solid var(--secondary-color);
}
.btn-cac{
    font-size: 3vh;
}

.description{
    color: black;
    margin: 20px 0px;
    align-items: center;
}

.table {
    margin: 30px 0px;
    width: 100%;
    margin-bottom: 1rem;
    color: #000000;
    vertical-align: top;
    border-color: #000000;
}

.table th,
.table td {
    padding: 8px; 
    text-align: center;
}
.table th{
    border-bottom: 1px solid #3f0231;
}
.table td{
    border-bottom: 1px solid #4f4f4f;
}


#form .d-flex{
    justify-content: space-around;
}

.d-flex-column{
    display: flex;
    flex-direction: column;
}

.form-control label{
    color: #000000;
}

.form-control input {
    height: 50px;
    width: 100%;
    background: rgba(255,255,255,0.1);
    border: 2px solid rgb(1, 0, 0);
    outline: none;
    border-radius: 25px;
    color: #000000;
    font-size: 1rem;
    padding: 0 20px;
}
.form-select {
    display: block;
    width: 100%;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background: rgba(255,255,255,0.1);
    border: 2px solid white; 
    border-radius: 25px;
    margin: 20px 0px;
}

.form-select option{
    color:#2a2a2a;
}